BODY {
	background-color: white;
	font-family: serif, times; 
	margin-left:5%;
	margin-right:5%;
}

H1 {
	font-family: sans-serif, arial, helvetica;
	font-style: normal;
	font-weight: 900;
	font-size: large;
	color: #000;
	padding:5px;
	border:solid;
	border-width:2px;
	border-color:#660;
	background:#6F7;
}

H2 {
	font-family: sans-serif, arial, helvetica; 
	font-weight: 900;  
	font-size: large;
	color: #000000;
}

H3 {
	font-family: sans-serif, arial, helvetica; 
	color: #000000;
}

TABLE {
	font-family: sans-serif, arial, helvetica;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	border-collapse:collapse;
	border: 2px solid;
	border-color: #960;
}

TH {
	font-family: sans-serif, arial, helvetica;
	background-color: #FFC;
	text-align: center;
}

A:link {
	color: #69F;
	text-decoration: underline;
}

A:hover {
	color: #333399;
	text-decoration: underline;
	background: #DDDDDD;
}

A:active {
	color: #333399;
	text-decoration: underline;
}

A:visited {
	color: #006;
	text-decoration: underline;
}

